.calc {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    background-color: azure;
    width: 300px;
    height: 400px;
    flex-direction: column;
}

.display,
.buttons {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    height: 80px;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: center;

}

input {
    height: 80%;
    border-radius: 3px;
    font-size: 35px;
    box-sizing: border-box;
    width: 90%;
}
.producer-name {
    align-self: center;
}